/*Resize the wrap to see the search bar change!*/
.tracker {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url('../src/images/pattern-bg.png') no-repeat center center;
    background-size: cover;
    height: 25vh;
    position: relative;
}

.header .title {
    color: #fff;
}

.info-banner {
    background: #fff;
    position: absolute;
    bottom: -55px;
    width: 80%;
    border: none;
    border-radius: 10px;
    z-index: 2;
}

.info-banner ul {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.info-banner ul li {
    padding-left: 15px;
    position: relative;
    width: 22%;
}

.border {
    border-left: 1.5px solid hsl(0, 5%, 89%);
    position: absolute;
    top: 35px;
    bottom: 20px;
    left: -15px;
}

.info-banner ul li:first-child div {
    border-left: none;
}


.info-banner ul li h6 {
    color: hsl(0, 0%, 51%);
    font-weight: bolder;
    height: 0;
}

#map {
    z-index: 1;
    height: 75vh;
}
