.comment-box {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 7px;
    border: none;
    margin-bottom: 20px;
    display: grid;
    position: relative;
    grid-template-columns: 8% 92%;
    color: hsl(211, 10%, 45%);
    font-size: 14px;
}

.vertical-buttons {
    grid-column: 1/2;
    grid-row: 1 /3;
}

.comment-info {
    display: flex;
    height: 50px;
    grid-column: 2 / 3;
    grid-row: 1/2;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.comment-info div {
    align-items: center;
    display: flex;
}

.comment-info div img {
    width: 25px;
    margin-right: 10px;
}

.comment-info .comment-auther {
    font-weight: bold;
    margin-right: 15px;
}

.comment-body {
    grid-column: 2 / 2;
    grid-row: 2/3;
}

.comment-box .commentBtn {
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: #5357B6;
}

.comment-box .commentBtn img {
    width: 11px;
}

.comment-box .deleteBtn {
    color: #ED6368;
    margin-right: 20px;
}

.comment-reply {
    margin-left: 40px;
    padding-left: 40px;
    border-left: 1px solid hsla(0, 0%, 81%, 0.644);
}

.reply-to {
    font-weight: 700;
    margin-right: 5px;
    color: hsla(239, 34%, 50%, 0.822);
}

.currentuser-tag {
    padding: 2px 4px;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    margin-left: 3px;
    color: hsl(0, 0%, 91%);
    font-weight: 100;
    background-color: #5357B6;
}